<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FParsec" version="1.0.2" targetFramework="net451" />
  <package id="FSharp.Core" version="3.0.2" targetFramework="net451" />
  <package id="FsPickler" version="3.2.0" targetFramework="net451" />
  <package id="FsPickler.Json" version="3.2.0" targetFramework="net451" />
  <package id="MBrace.Core" version="1.4.0" targetFramework="net451" />
  <package id="MBrace.Flow" version="1.4.0" targetFramework="net451" />
  <package id="MBrace.Runtime" version="1.4.0" targetFramework="net451" />
  <package id="Mono.Cecil" version="0.9.6.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net451" />
  <package id="Streams" version="0.4.0" targetFramework="net451" />
  <package id="Vagabond" version="0.14.0" targetFramework="net451" />
</packages>